section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 10rem;
  margin-top: 2rem;
  min-height: 30rem;
}

.courses-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 4rem;
  gap: 1rem;
}
.course-con {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 37rem;
  width: 30rem;
  margin-bottom: 2rem;
  background: #162b5d;
  margin-left: 1rem;
  border:2px solid #1d3671;
  border-radius: 5px;
}
.course-con:hover{
    transform: scale(1.01);
    background-color: #04102e;
}
.course-con img {
  width: 100%;
  height: 20rem;
}
.over {
  padding: 1rem;
  border-radius: 4px;
  width: 13rem;
  margin-left: 8.5rem;
}
.course-det {
  margin-left: 0.7rem;
  margin-bottom: 2rem;
}
.course-det h1 {
  font-size: 1.5rem;
  margin-bottom: 0.8rem;
}
.course-det p i {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #c7b133;
}
.course-det h2 {
  color: #ffffffe7;
  font-size: 1.2rem;
}
.course-det p span{
    font-size:1.1rem;
    font-weight: 400;
    color:rgba(249, 244, 227, 0.855);
}
