main {
  width: 25%;
  margin-left: 35%;
  margin-top: 10rem;
  height: 50rem;
  border: 0.5px solid rgba(223, 51, 120, 0.445);
  box-shadow: 0.1rem 0.5rem 2.5rem 0.001rem rgba(220, 57, 122, 0.581);
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
}
.signin{
  height:30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin div a{
 font-size: 1.15rem;
 text-align: center;
}
.signin a:hover{
   text-decoration: underline;
   letter-spacing: 0.8px;
}
main button {
  background-color: #c70e58db;
  color: #ffff;
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: 400;
  border: 0;
  outline: 0;
  margin-left:6rem;
  cursor: pointer;
}
main button:hover{
  background-color:#d44c82ec ;
}
.title {
  margin-top: -2rem;
  font-size: 1.7rem;
}
input {
  background: transparent;
  width: 23rem;
  height: 4rem;
  color: #fff;
  font-size: 1.5rem;
  border: 1px solid #fff;
  /* margin-left: 4.5rem; */
  margin-bottom: 1rem;
  padding: 1rem;
}
input::placeholder {
  color: #ffffffaf;
  font-size: 1.5rem;
  /* padding:1rem; */
}
.form p{
  color:#c3265ddb ;
  font-size: 1.1rem;
}
